* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: background .3s ease-in-out;
}

nav h3 {
    padding: 0 10px;
    margin-top: .5rem;
    vertical-align: top;
}

nav h3 i:hover {
    cursor: pointer;
}

s {
    text-decoration-thickness: 2px;
}

#tooltip {
    position: relative;
}

#tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 177px;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    left: 20px;
    padding: 3px;
    bottom: -4px;
    margin: -1px -5px 0 0;
}

#tooltip:hover #tooltiptext {
    visibility: visible;
}

#doneButton {
    border: 2px solid rgb(2, 231, 2);
}

#undoButton {
    border: 2px solid rgb(238, 241, 10);
}

#doneButton,
#undoButton {
    flex: 1 1 auto;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
}

#doneButton:hover,
#undoButton:hover { 
    background-position: right center;
    box-shadow: -6px 3px 8px 0px #686868;
}

.dark {
    background-color: #1B2431;
    color: #fff;
    min-height: 100vh;
}

@media (max-width: 450px) {
    #lists {
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    #lists div:first-child {
        margin: 0 0 10px 0;
    }

    #doneButton,
    #undoButton {
        margin-right: 0;
        position: relative;
    }

    .card {
        margin: 0 auto;
        width: 90%;
    }

    .btn-close {
        position: absolute;
        right: 15px;
        bottom: 30px;
    }
}

