* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    transition: background .3s ease-in-out;
}

nav h3 {
    padding: 0 10px;
    margin-top: .5rem;
    vertical-align: top;
}

nav h3 i:hover {
    cursor: pointer;
}

s {
    text-decoration-thickness: 2px;
}

#doneButton {
    border: 2px solid rgb(2, 231, 2);
}

#undoButton {
    border: 2px solid rgb(238, 241, 10);
}

#doneButton,
#undoButton {
    flex: 1 1 auto;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
}

#doneButton:hover,
#undoButton:hover { 
    background-position: right center;
    box-shadow: -6px 3px 8px 0px #686868;
}

.dark {
    background-color: #1B2431;
    color: #fff;
    min-height: 100vh;
}

