* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    transition: background 0.3s ease-in-out;
}

strong {
    color:white;
}

nav h3 {
    padding: 0 10px;
    margin-top: .5rem;
    vertical-align: top;
}

nav h3 i:hover {
    cursor: pointer;
}

button.close.cDark {
    color: #ffff;
    opacity: 1;
}

.doneButton {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
    flex: 1 1 auto;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: center;
    background-size: 200% auto;
    border-radius: 10px;
}

.undoButton {
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
    flex: 1 1 auto;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: center;
    background-size: 200% auto;
    border-radius: 10px;
}

.doneButton:hover,
.undoButton:hover { 
    background-position: right center;
    transition: 0.5s ease-in-out;
}

.app {
    background-color: #F3F3F3;
    color: #15202B;
    width: 100vw;
    min-height: 100vh;
}

.dark {
    background-color: #1B2431;
    color: whitesmoke;
    min-height: 100vh;
}

